[access "refs/*"]
	owner = group user/Black_Prince (Black-Prince)
[access "refs/for/refs/*"]
	read = group user/Black_Prince (Black-Prince)
	push = group user/Black_Prince (Black-Prince)
	label-Code-Review = -2..+2 group user/Black_Prince (Black-Prince)
	label-Verified = -1..+1 group user/Black_Prince (Black-Prince)
	rebase = group user/Black_Prince (Black-Prince)
	removeReviewer = group user/Black_Prince (Black-Prince)
	submit = group user/Black_Prince (Black-Prince)
[access "refs/heads/*"]
	read = group user/Black_Prince (Black-Prince)
	create = group user/Black_Prince (Black-Prince)
	push = +force group user/Black_Prince (Black-Prince)
	pushMerge = group user/Black_Prince (Black-Prince)
[access "refs/tags/*"]
	push = +force group user/Black_Prince (Black-Prince)
	pushTag = group user/Black_Prince (Black-Prince)
	pushSignedTag = group user/Black_Prince (Black-Prince)
